# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [2]:
import pandas as pd

data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series = pd.Series(data)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

# Q3. Create a Pandas DataFrame that contains the following data:

Name	Age	Gender

Alice	25	Female

Bob	30	Male

Charlie	35	Male

Then, print the DataFrame.

In [3]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'Gender': ['Female', 'Male', 'Male']}

df = pd.DataFrame(data)
print(df)

      Name  Age  Gender
0    Alice   25  Female
1      Bob   30    Male
2  Charlie   35    Male

# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

DataFrame: DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. It can be thought of as a table or spreadsheet with rows and columns. Each column in a DataFrame is a pandas Series. DataFrame provides functionality to manipulate and analyze tabular data efficiently.

Series: Series is a one-dimensional labeled array capable of holding data of any type. It is like a column in a DataFrame or a single column from an Excel spreadsheet. Series provides functionality to work with single-dimensional data efficiently.

In [5]:
# Example:

import pandas as pd

# Creating a Series
series = pd.Series([1, 2, 3, 4, 5])

# Creating a DataFrame
data = {'A': [1, 2, 3],
        'B': [4, 5, 6],
        'C': [7, 8, 9]}
df = pd.DataFrame(data)

# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

Some common functions to manipulate data in a Pandas DataFrame include:

head() and tail(): To view the first or last few rows of the DataFrame.

info(): To get a concise summary of the DataFrame, including data types and missing values.

describe(): To generate descriptive statistics of the DataFrame.

iloc[] and loc[]: To select rows or columns by integer position or label, respectively.

drop(): To drop rows or columns from the DataFrame.

fillna(): To fill missing values in the DataFrame.

groupby(): To group data in the DataFrame by one or more columns.

In [6]:
# View the first 5 rows of the DataFrame
print(df.head())

# Get a concise summary of the DataFrame
print(df.info())

# Generate descriptive statistics of the DataFrame
print(df.describe())

# Select rows with Age greater than 30
print(df[df['Age'] > 30])

# Drop the 'Gender' column from the DataFrame
df.drop(columns=['Gender'], inplace=True)

# Fill missing values in the 'Age' column with the mean age
df['Age'].fillna(df['Age'].mean(), inplace=True)

# Group data by 'Gender' and calculate the mean age
print(df.groupby('Gender')['Age'].mean())

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
 2   C       3 non-null      int64
dtypes: int64(3)
memory usage: 200.0 bytes
None
         A    B    C
count  3.0  3.0  3.0
mean   2.0  5.0  8.0
std    1.0  1.0  1.0
min    1.0  4.0  7.0
25%    1.5  4.5  7.5
50%    2.0  5.0  8.0
75%    2.5  5.5  8.5
max    3.0  6.0  9.0

KeyError: 'Age'

# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Series and DataFrame are mutable in nature, meaning their contents can be modified after creation. However, Panel objects have been deprecated in recent versions of Pandas and are no longer recommended for general use.

# Q7. Create a DataFrame using multiple Series. Explain with an example.