# Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that is organized and stored in a computer system. It allows for efficient storage, retrieval, and manipulation of data.
SQL (Structured Query Language) databases are relational databases that store data in tables and use SQL to query and manipulate data. Examples include MySQL, PostgreSQL, and SQLite.
NoSQL databases, on the other hand, are non-relational databases that store data in a flexible, schema-less format, such as key-value pairs, documents, or graphs. Examples include MongoDB, Cassandra, and Redis.

# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL (Data Definition Language) is a subset of SQL used to define and manage the structure of database objects.

CREATE is used to create new database objects, such as tables, indexes, or views.

DROP is used to delete existing database objects.

ALTER is used to modify the structure of existing database objects, such as adding, modifying, or dropping columns in a table.

TRUNCATE is used to delete all rows from a table without deleting the table itself.

In [1]:
# Example

CREATE TABLE employees (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    department VARCHAR(50)
);

ALTER TABLE employees ADD COLUMN salary INT;

DROP TABLE employees;

TRUNCATE TABLE employees;

SyntaxError: invalid syntax (1949499812.py, line 3)

# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML (Data Manipulation Language) is a subset of SQL used to manipulate data stored in database objects.

INSERT is used to add new rows of data into a table.

UPDATE is used to modify existing data in a table.

DELETE is used to remove rows of data from a table.

In [ ]:
# Example 

INSERT INTO employees (id, name, department) VALUES (1, 'John', 'HR');

UPDATE employees SET department = 'Finance' WHERE id = 1;

DELETE FROM employees WHERE id = 1;

# Q4. What is DQL? Explain SELECT with an example.

DQL (Data Query Language) is a subset of SQL used to retrieve data from a database.

SELECT is used to query data from one or more tables based on specified criteria.

Example:

SELECT * FROM employees;

SELECT name, department FROM employees WHERE salary > 50000;

# Q5. Explain Primary Key and Foreign Key.

Primary Key: A primary key is a column or a set of columns that uniquely identifies each row in a table. It enforces entity integrity and ensures that each row is uniquely identifiable. Only one primary key is allowed per table.

Foreign Key: A foreign key is a column or a set of columns in a table that establishes a link between data in two tables. It enforces referential integrity by defining a relationship between the tables based on the values of the foreign key and the primary key in another table.

# Q6. Write a Python code to connect MySQL to Python. Explain the cursor() and execute() method.

In [2]:
import mysql.connector

# Connect to MySQL database
conn = mysql.connector.connect(
    host="localhost",
    user="username",
    password="password",
    database="database_name"
)

# Create cursor object
cursor = conn.cursor()

# Execute SQL query
cursor.execute("SELECT * FROM employees")

# Fetch results
results = cursor.fetchall()
for row in results:
    print(row)

# Close cursor and connection
cursor.close()
conn.close()

ModuleNotFoundError: No module named 'mysql'

In [3]:
#cursor(): The cursor() method creates a cursor object, which is used to execute SQL queries and fetch results from the database.
#execute(): The execute() method is used to execute an SQL query passed as a parameter to the method. It can execute DDL, DML, and DQL queries. After executing the query, the cursor object is positioned at the first row of the result set.

# Q7. Give the order of execution of SQL clauses in an SQL query.

The order of execution of SQL clauses in an SQL query is as follows:

SELECT

FROM

WHERE

GROUP BY

HAVING

ORDER BY

LIMIT